

<md-toolbar color="primary">
<div fxLayout="row" fxLayoutAlign="end center" style="width:100%">
    <div>
      <a md-button routerLink="/home">
        <md-icon>home</md-icon> Home
      </a>
    </div>
    <div>
      <a md-button routerLink="/home">
        <md-icon>list</md-icon> Products
      </a>
    </div>
    <div>
      <a md-button routerLink="/home">
        <md-icon>home</md-icon> Contact Us
      </a>
    </div>
  </div>

</md-toolbar>

<!-- <td-layout>
    <div style="width:100%">
      <md-toolbar color="primary">
  
      </md-toolbar>
    </div>
  </td-layout> -->